{name, "sqlite"}.
{description, "Sqlite gen_server port for Erlang. Creates, reads and writes to sqlite database."}.
{homepage, "https://github.com/ttyerl/sqlite-erlang"}.
{url, {git, "https://github.com/nox/sqlite-erlang.git", {branch, "sqlite_port-path-fix"}}}.
{authors, ["Tee Teoh <tty.erlang@gmail.com>"]}.
{license, "Erlang Public License 1.1", "LICENSE"}.
{build_command, "$AGNER_PACKAGE_REPO/build.sh"}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
